name: CI

on:
  pull_request:
    branches: [main]

jobs:
  jest:
    name: Jest
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        node: ['18', '20', '22']
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - run: yarn
      - run: yarn test
