name: Publish

on:
  workflow_dispatch:
    inputs:
      versionClass:
        type: choice
        required: true
        options:
          - 'patch'
          - 'minor'
          - 'major'
  schedule:
    - cron: '0 0 15 * *' # at AM 9 JST on day of month 15

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  id-token: write # Required for OIDC
  contents: write # create tag and release

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'

      # Trusted publishing requires npm CLI version 11.5.1 or later.
      - name: Ensure npm >= 11.5.1
        run: npm i -g npm@^11.5.1

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Bump version and publish
        id: bump-version
        run: |
          git config user.name '[bot] github action (${{ github.workflow }})'
          git config user.email 'engineer-team@knowledgework.com'
          yarn version --${{ github.event_name == 'schedule' && 'patch' || github.event.inputs.versionClass }}
          yarn run publish
          echo "new_version=$(jq -r .version package.json)" >> "$GITHUB_OUTPUT"

      - name: Create release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.repos.createRelease({
              owner: "${{github.repository_owner}}",
              repo: "${{github.repository}}".split('/')[1],
              tag_name: "v${{ steps.bump-version.outputs.new_version }}",
              generate_release_notes: true,
            })
